<div class="show-content">
  <div class="head-card" style="margin-top: 10%;">
    <div class="card-top" data-controller="notification" data-notification-user-id-value="<%= current_user.id %>">
      <div class="d-none user-notif" data-notification-target="bell">
        <i class="fa-solid fa-bell" ></i>
      </div>
      <div class="garage-info">
        <% if @user == current_user %>
          <h1>My Garage</h1>
        <% else %>
          <h1><%= @user.first_name %>'s Garage</h1>
        <% end %>
        <%= render "shared/stars" %>
        <% if @user == current_user %>
          <p><strong>Tokens </strong><%= current_user.tokens %> <i class="fa-solid fa-coins"></i></p>
        <% end %>
        <p><strong>About me </strong><%= @user.description %></p>
      </div>

      <div class="user-avatar">
        <% if @user.photo.key %>
          <%=cl_image_tag @user.photo.key, crop: :crop%>
        <% else %>
          <img src="https://png.pngtree.com/png-vector/20190114/ourlarge/pngtree-vector-avatar-icon-png-image_313572.jpg" class='avatar'>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-action">
    <% if @user != current_user %>
      <%= link_to "REVIEW", "#", class: "button-yellow" %>
      <%= link_to "CHAT", (@chatroom.present? ? chatroom_path(@chatroom) : chatrooms_path(user_id:params[:id])) , class: "button-yellow", data:{turbo_method: (@chatroom.present? ? :get : :post)}   %>
    <% else %>
      <%= link_to "MY BOOKINGS", user_bookings_path(@user), class: "button-yellow" %>
      <%= link_to "UPDATE", edit_user_registration_path(@user), class: "button-yellow" %>
      <% end %>
  </div>

  <div class="user-garage-container">
    <%= render "shared/garage" %>
  </div>

  <div class="review-container">
    <h2><strong>Reviews</strong></h2>
    <% if @user.booking_reviews.present? %>
      <% @user.booking_reviews.each do |review| %>
            <div class="review-info">
              <span class="title-item-name"><%= link_to review.booking.item.name, new_item_booking_path(review.booking.item) %></span><br>
              <p>
              <% (1..5).to_a.each do |star| %>
                <% if star <= review.rating %>
                  <i class="fas fa-star" style="color: #F6DB2D;"></i>
                <% else %>
                  <i class="fas fa-star" style="color: #ccc"></i>
                <% end %>
              <% end %> <br>
              <small><%= review.comment %></small><br>
              <small>by @<%= review.booking.user.username %> on <%= review.created_at.strftime("%Y-%m-%d") %></small>
              <hr>
              </p>
            </div>
      <% end %>
    <% else %>
      <p>This user has no reviews.</p>
    <% end %>
  </div>

  <div class="card-bottom">
    <% if @user == current_user %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-yellow-log-out" %>
    <% end %>
  </div>
</div>
